.homeContainer{
    height: 100%;
    width: 100%;
    position: relative;
}

.antMainLayout h1{
    color: white;
    font-size: 24px;
}

.antSider{
    padding-left: 8px;
}

.antMainLayout{
    height: 100%;
    width: 100% !important;
}

.antRightLayout{
    width: 200px !important;
}

.antContent{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.headerTextContainer{
    height: 100%;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    margin: 0;
    padding: 0 0 16px 16px;
    height: 100%;
}

.headerCartContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 32px;
}

.headerCartContainer:hover{
    cursor: pointer;
}

.headerCartIndicator{
    color: #f0f0f0;
    font-size: 16px;
}

.content{
    padding: 0;
    margin: 0;
    padding: 16px;
}

/*
CARD DETAIL
*/
.cartDetailContainer{
    display: none;
    position: absolute;
    z-index: 10;
    max-height: 250px;
    max-width: 200px;
    overflow-y: scroll;
    right: 0;
    transform: translateY(40%);
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    flex-direction: column;
}

.cartDetailContainer>div{
    padding-left: 0;
}

.cartCover{
    width: 50px !important;
    height: 50px !important;
    margin-left: 24px;
    margin-top: 24px;
}

.cartCover img{
    width: 100%;
    height: 100%;
}