.productCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.productCard>div{
    padding: 24px 0 24px  0 !important;
}

.cardCoverCustom{
    width: 100px !important;
    height: 100px;
    padding: 8px;
    border: 1px solid #f0f0f0;
    border-radius: 1rem !important;
}

.productCard img{
    height: 100%;
    aspect-ratio: 1/1;
}

.antCardActionsCustom{
    padding-top: 24px;
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
}